
.app { width: 40em; margin: 3em 20% }
#question { padding: 0.6em; line-height: 1.4;height: 100%; margin: 1em 0; width: 100%; color: #111; font-size: 1.1em }
select.questionset { margin: 20px 0 }
select.questionset { display: none }
ul.chat-msgs { height: 60vh; overflow-y: scroll; padding-right: 5em; padding-top: 50%;}

.chat-msgs { }
.chat-msgs li { line-height: 1.3; list-style: none; margin: 0.5em 0;}
.chat-msgs li.socrateaser { color: #333; font-style: italic; margin: 1em 0; }
.chat-msgs li.you { color: #111; margin-left: 1em; font-size: 1.1em;  }

.chat-msgs .username { display: none }
